@mixin font($fz, $lh, $fw: normal, $font: $main-font) {
  font: $fw #{$fz} / #{$lh} $font;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin line-clamp($count-line) {
  -webkit-line-clamp: $count-line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
