$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

:root {
  --color-success: #12ce66;
  --color-warning: #e7a23d;
  --color-error: #eb0b0b;
}

$t-duration: 200ms;
$t-function: ease-in-out;

$main-font: 'Inter', sans-serif;
